<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Create New Albums</h1>
    <form action="/post-album" method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <label type="date" for="release_date">Release Date:</label>
        <input type="text" id="release_date" name="release_date" required><br><br>

        <label for="img">Image:</label>
        <input type="file" id="img" name="imgAlbumsFile" accept="image/*"><br><br>

        <button type="submit">Create Album</button>
    </form>
</body>

</html>