<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Profile</title>
</head>

<body>
    <header>
        <div class="container">
            <div class="nav_bar">
                <div class="logo">
                    <a class="logo_link" href="/home">
                        <span>GEN</span>MUSIC
                    </a>
                </div>
                <div class="middle_nav">
                    <div class="main_menu">
                        <ul class="menu_list">
                            <li><a class="home_menu" href="/home">Home</a></li>
                            <li><a class="home_menu" href="#">About</a></li>
                            <li><a class="home_menu" href="/profile">Library</a></li>
                            <li class="menu_item has-dropdown">Pages
                                <ul class="dropdown">
                                    <li class="item_drop"><a class="link_drop" href="#">Profile</a></li>
                                    <li class="item_drop"><a class="link_drop" href="#">Artists</a></li>
                                    <li class="item_drop"><a class="link_drop" href="#">Privacy policy</a></li>
                                    <li class="item_drop"><a class="link_drop" href="#">Admin</a></li>
                                </ul>
                            </li>
                            <li><a class="home_menu" href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="right_nav">
                    <div class="help">
                        <a href="#">
                            <span style="color: #9b9b9be7;">Help</span>
                        </a>
                    </div>
                    <div class="divider">
                        <a style="cursor: context-menu;" href="#">|</a>
                    </div>
                    <div class="profile_icon">
                        <a href="#">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="sign_up">
                        <a href="#">
                            <span style="color: #fc0254">Log out</span>
                        </a>
                    </div>
                    <!-- <div class="notification">
                        <a href="#">
                            <i class=""></i>
                        </a>
                    </div>
                    <div class="profile">
                        <a href="#">
                            <i class=""></i>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </header>

    <section class="main_content">
        <div class="title_playlists">
            <div class="title">
                <span>My Playlists</span>
            </div>
        </div>

        <div class="playlists_content">
            <div class="playlist_card">
                <a class="playlist_card" href="detail_playlist.html">
                    <img src="https://i1.sndcdn.com/artworks-ijioG1KRRwVmGMcl-4dETdg-t200x200.jpg" alt="Indie">
                    <div class="playlist_label">Indie</div>
                </a>
            </div>
            <div class="playlist_card">
                <a class="playlist_card" href="detail_playlist.html">
                    <img src="https://images.unsplash.com/photo-1465101046530-73398c7f28ca?auto=format&fit=crop&w=400&q=80"
                        alt="Jazz">
                    <div class="playlist_label">Jazz</div>
                </a>
            </div>
            <div class="playlist_card">
                <img src="https://images.unsplash.com/photo-1506744038136-46273834b3fb?auto=format&fit=crop&w=400&q=80"
                    alt="Country">
                <div class="playlist_label">Country</div>
            </div>
            <div class="playlist_card">
                <img src="/image/pr-post-11.jpg" alt="Jass & Blues">
                <div class="playlist_label">Electronic</div>
            </div>
            <div class="playlist_card">
                <img src="/image/istockphoto-166082375-612x612.jpg" alt="Jass & Blues">
                <div class="playlist_label">Hip Hop</div>
            </div>
            <div class="playlist_card">
                <img src="/image/2141226b8ab1ae07afe4b541ee0d2b0825-11-yic-pop-essay.rsocial.w1200.webp"
                    alt="Jass & Blues">
                <div class="playlist_label">Pop</div>
            </div>
            <div class="playlist_card">
                <img src="/image/images.jpg" alt="Jass & Blues">
                <div class="playlist_label">Rock</div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="footer_container">
            <div class="footer_left">
                <div class="footer_logo">
                    <span style="color:#fc0254;font-weight:700;">GEN</span>MUSIC
                </div>
                <div class="footer_copyright">
                    COPYRIGHT ©2025 ALL RIGHTS RESERVED | THIS TEMPLATE IS MADE WITH <span style="color:#fff;">♡</span>
                    BY
                    <a href="#" style="color:#2196f3;text-decoration:none;">MANHCUONG</a>
                </div>
                <div class="footer_social">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="footer_menus">
                <div class="footer_menu">
                    <div class="footer_menu_title">ABOUT US</div>
                    <a href="#">Our Story</a>
                    <a href="#">Sol Music Blog</a>
                    <a href="#">History</a>
                </div>
                <div class="footer_menu">
                    <div class="footer_menu_title">PRODUCTS</div>
                    <a href="#">Music</a>
                    <a href="#">Subscription</a>
                    <a href="#">Custom Music</a>
                    <a href="#">Footage</a>
                </div>
                <div class="footer_menu">
                    <div class="footer_menu_title">PLAYLISTS</div>
                    <a href="#">Newsletter</a>
                    <a href="#">Careers</a>
                    <a href="#">Press</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>